/* ==============================================

Template: 404 Meteor
Version: 1.0
Author:	NarCav

 - Max-width: 640px
     - Button
     - Info
 - Max-height: 640px
     - Button
     - Info
================================================ */

/* ------------------
    Max-width: 640px
-------------------- */
@media only screen and (max-width: 640px) {
  /* ------------------
    Button
  -------------------- */
  .btn {
    min-width: 100px;
    padding: 12;
    font-size: 14px;
  }

  /* ------------------
    Info
  -------------------- */
  .info h2 {
    font-size: 30px !important;
  }

  .info h1 {
    font-size: 100px;
  }

  .info p {
    font-size: 16px;
  }
}

/* ------------------
    Max-height: 640px
-------------------- */
@media only screen and (max-height: 640px) {
  /* ------------------
    Button
  -------------------- */
  .btn {
    min-width: 80px;
    padding: 6;
    font-size: 12px;
  }

  /* ------------------
    Info
  -------------------- */
  .info h2 {
    margin: 0px;
    font-size: 30px;
  }

  .info h1 {
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .info p {
    margin: 0px;
  }
}
